.text-field, .password-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button {
-fx-background-color: #4d4d4d;
}

.button:hover{
-fx-background-color: #454545;
}

.label {
    -fx-font-family: Calisto MT;
}
