
#reviewItemContainer {
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 10;
    -fx-border-color: #333333;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-padding: 15;
}

#reviewItemContainer:hover {
    -fx-background-color: #262626;
}

#usernameLabel {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Candara";
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}

#ratingLabel {
    -fx-text-fill: #ffcc00;
    -fx-font-family: "Candara";
    -fx-font-weight: bold;
}

#reviewTextLabel {
    -fx-text-fill: #d0d0d0;
    -fx-font-family: "Candara";
    -fx-font-size: 14px;
}

#reviewDateLabel {
    -fx-text-fill: #888888;
    -fx-font-family: "Candara";
    -fx-font-style: italic;
    -fx-font-size: 12px;
}